.html
{
	background: #DE3535 url("../images/istock_000016938494xlarge.jpg") no-repeat left top scroll;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 100%;
	min-height: 332px;
	margin-left: auto;
	margin-right: auto;
}
/* addit */
#page #u156 {
    margin: 5% auto;
    width: 50%;
}

#page #u102-4 {
    margin: -10px auto 50px;
    width: 50%;
}

#page #u104-5 {
    margin: 0 auto 3px;
    width: 50%;
}

#page #u105-5 {
    margin: 0 auto;
    width: 50%;
}

#page #u183-1 {
    margin: 0 auto;
    width: 50%;
}

#u183 div {
margin-right: 10px;
}
/* next */
#u90
{
z-index: 2;
width: 100%;
height: 300%;
border-color: #000000;
background-color: #DE3535;
opacity: 0.8;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
filter: alpha(opacity=80);
position: fixed;
top: -50%;
left: -50%;
}

#u156
{
	z-index: 17;
	width: 400px;
	height: 102px;
	border-color: #000000;
	margin-left: 30px;
	position: relative;
    text-align: center;
	background-size: contain !important;
}

.imager {
margin-bottom: 5%;
}

#u102-4
{
	z-index: 3;
	display: block;
	vertical-align: top;
	margin-top: 41px;
	text-align: center;
    position: relative;
    line-height: 26px;
	font-size: 22px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u104-5
{
	z-index: 7;
	display: block;
	vertical-align: top;
	margin-top: 30px;
    text-align: center;
	position: relative;
    line-height: 25px;
	font-size: 18px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
}

#u105-5
{
	z-index: 12;
	display: block;
	vertical-align: top;
    text-align: center;
	position: relative;
    line-height: 25px;
	font-size: 18px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
}

#u104-2,#u105-2
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u183
{
	z-index: 18;
	width: 161px;
	margin: 50px auto;
	position: relative;
}

#u178
{
	z-index: 25;
	width: 33px;
	position: relative;
	margin-right: -10000px;
}

#u173
{
	z-index: 23;
	width: 33px;
	position: relative;
	margin-right: -10000px;
	left: 43px;
}

#u168
{
	z-index: 21;
	width: 33px;
	position: relative;
	margin-right: -10000px;
	left: 85px;
}

#u163
{
	z-index: 19;
	width: 33px;
	position: relative;
	margin-right: -10000px;
	left: 128px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

